<div class="comment">
<div class="header">
  Comment from <%= comment.username %> at <%= std_format_date(comment.created_at) %> 
</div>
  <div class="content">
    <%= comment.content %>
  </div>
</div>