<div class="blog-post">
  <h3><%= link_to post.title, post_path(post) %></h3>
  <div class="timestamp">Posted at <%= std_format_date(post.created_at) %></div>
  <div class="body"><%= post.body %></div>
</div>